
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin", method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

<h2 class="form-signin-heading">Change Your Password</h2>
    <%= f.label :password, class: 'sr-only'%>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

    <%= f.label :password_confirmation, "Confirm New Password", class: 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>

  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br/>
  <% end %>

  <div class="actions" style="margin-top: 10px">
    <%= f.submit "Change My Password" %>
  </div>
<% end %>
