<div class="button-column">
  <div class="well sort-button">
  <%= link_to 'Sort by Most Recent', authenticated_root_path(:sort_time => true) %>
  </div>
  <div class="well sort-button">
  <%= link_to 'Sort by Most Popular', authenticated_root_path(:sort_answers => true) %>
  </div>
  <div class="well sort-button">
  <%= link_to 'My Questions', authenticated_root_path(:mine => true) %>
  </div>
</div>

<div class='feed'>

<% @questions.each do |q| %>
  <div class='well'><%= q.title %></div>

  <% if q.answers_count == 1 %>
    <div class='well well-sm'>
    This question has 1 response so far
    <span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold">//</span>
    <%= link_to('View Answers', question_answers_path(q[:id])) %>
    <span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold">//</span>
    <%= link_to('Answer', new_question_answer_path(q[:id])) %>
    </div>

  <% else %>
    <div class='well well-sm'>
    This question has <%= q.answers_count %> responses so far
    <span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold">//</span>
    <%= link_to('View Answers', question_answers_path(q[:id])) %>
    <span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold">//</span>
    <%= link_to('Answer', new_question_answer_path(q[:id])) %>
    </div>
  <% end %>

  <% if can? :destroy, q %>
    <div class='well well-sm'>
    <%= link_to "Delete", {:controller => :questions, :action => 'destroy', :id => q.id}, :method => :destroy %>
    </div>
  <% end %>

<% end %>

</div>
