<div class="button-column">
  <div class="well sort-button">
  <%= link_to 'Sort by Most Recent', question_answers_path(params.merge(:sort_time => true)) %>
  </div>
  <div class="well sort-button">
  <%= link_to 'Sort by Most Popular', question_answers_path(params.merge(:sort_votes => true)) %>
  </div>
</div>


<div class='feed'>

<div class='well'>
  <span style="font-weight:bold; font-size: 16px"><%= @question.title %></span>
</div>
<div class='well'>
  <%= @question.description %>
</div>

<% if @answers.count == 0 %>
  <div class='well well-sm'>This question hasn't been answered <span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold">//</span> <%= link_to('Answer', new_question_answer_path(@question[:id])) %>
  </div>

<% else %>
  <% @answers.each do |a| %>
    <div class='well'><%= a.description%></div>
    <div class='well well-sm'>
    <%= link_to '+ ', like_question_answer_path(@question, a), method: :put %><%=a.get_upvotes.size %> upvotes<span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold"> //</span><%= link_to '- ', dislike_question_answer_path(@question, a), method: :put %><%=a.get_downvotes.size%> downvotes<span style="color: rgb(51, 122, 183); padding-left: 2px; padding-right: 2px; font-weight: bold"> //</span> <%= link_to('Answer', new_question_answer_path(@question[:id])) %></div>
  <% end %>
<% end %>

</div>
