<!DOCTYPE html>
<html>
<head>
  <title>Polity</title>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<% if user_signed_in? %>
<div class="container"</div>
  <nav>
  <div class="nav masthead-brand"><%=link_to 'POLITY', authenticated_root_path%> <span style="font-size: 12px">//a Wilson Center project</div>
  <ul class="nav masthead-nav">
     <li>
       <a href="#">About</a></li>
     <li>
       <%= link_to('Ask a Question', new_question_path)%>
     </li>
     <li>
       <%= link_to "My Account", edit_user_registration_path %>
     </li>
     <li>
       <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
     </li>
  </ul>
  </nav>
</div>
<% else %>
<div class="banner"> POLITY </div>
<% end %>

<%= yield %>

</body>
</html>
